<%- include('partials/head') %>
    <h1>Loguearse</h1>
    <form action="/login" method="POST">
        <label for="usuario">Usuario:</label>
        <input type="text" name="usuario" id="usuario" required>
        <label for="contrase単a">Contrase単a:</label>
        <input type="password" name="contrase単a" id="contrase単a" required>
        <button type="submit">Ingresar</button>
    </form>

    <%- include('partials/footer') %>