<%- include('partials/head') %>

    <h1>Has cerrado sesión exitosamente</h1>
    <p>Gracias por visitarnos. Esperamos verte pronto.</p>

    <a href="/login">Iniciar sesión</a> | <a href="/">Ir a la página de inicio</a>

    <%- include('partials/footer') %>