<%- include('partials/head') %>

    <h1>Bienvenido a tu perfil <%= usuario.usuario %>
    </h1>

    <% if (usuario.email) { %>
        <p>Email: <%= usuario.email %>
        </p>
        <% } else { %>
            <p>No se encontró email para este usuario.</p>
            <% } %>

                <nav>
                    <ul>
                        <li><a href="/listadoProductos">Ver los productos</a></li>
                        <li>
                            <form id="logoutForm" action="/logout" method="POST" style="display:inline;">
                                <button type="submit">Cerrar sesión</button>
                            </form>
                        </li>
                    </ul>
                </nav>

                <%- include('partials/footer') %>